[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "lib/JPEGENC"]
	path = lib/JPEGENC
	url = https://github.com/bitbank2/JPEGENC
[submodule "lib/ErriezBMX280"]
	path = lib/ErriezBMX280
	url = https://github.com/Erriez/ErriezBMX280
